<a href="https://colab.research.google.com/github/HSweta/The-Sparks-Foundation/blob/master/student_score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.linear_model import LinearRegression

In [2]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [3]:
dataset = pd.read_csv('/content/drive/My Drive/IN/student_scores - student_scores.csv')

In [4]:
dataset.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

In [5]:
df = dataset.values

In [6]:
X,y = df[:,0],df[:,1]

In [7]:
X = X.reshape(-1,1)
y = y.reshape(-1,1)

In [8]:
regressor = LinearRegression()  
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
X_test = 9.25
X_test = np.array([X_test])
X_test = X_test.reshape(-1,1)

In [10]:
y_pred = regressor.predict(X_test)

In [11]:
y_pred

array([[92.90985477]])

In [12]:
print("Predicted Score :",y_pred[0])

Predicted Score : [92.90985477]